@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee linear infinite;
}

/* phone menu */
.menu-open {
  max-height: 500px;
  padding: 24px 24px; /* px-6 py-6 */
  pointer-events: auto;
}

.menu-closed {
  max-height: 0;
  padding: 0 24px; /* keep sides, remove top/bottom */
  pointer-events: none;
}

.menu-open,
.menu-closed {
  overflow: hidden;
  transition:
    max-height 0.5s cubic-bezier(0.33, 1, 0.68, 1),
    padding 0.5s cubic-bezier(0.33, 1, 0.68, 1);
}

.menu-tap {
  background-color: #f3f4f6 !important;
}

.menu-tap-purple {
  background-color: #f3e8ff !important;
}